*~
*.weights
__pycache__/
*.pyc
*.egg-info
*.egg
venv/*
foresight/build
.ipynb_checkpoints

node_modules

webstack/assets/*

# IDE - VSCode
.vscode/*


deployment/.env

# Mac System Files
.DS_Store
Thumbs.db

# Idea
.idea/
*.pem
foresight/config.json
webstack/package-lock.json
*.deb

# AI
*.nlp

# logs
*.log
webstack/keys/token.json
webstack/keys/package-lock.json
webstack/keys/yarn.lock
foresight/_env.sh
sage_seer/_env.sh
