*.weights
__pycache__/
*.pyc
*.egg-info
*.egg
venv/*
foresight/build
.ipynb_checkpoints

node_modules

# IDE - VSCode
.vscode/*

# Mac System Files
.DS_Store
Thumbs.db

# Idea
.idea/
*.pem
*.deb

# AI
*.nlp

# logs
*.log

# temp
foresight/config.json
webstack/package-lock.json
foresight/SeerProxy.py
foresight/_env.sh
webstack/keys/token.json
webstack/keys/yarn.lock
./webstack/keys/*
