body {
  overflow: hidden;
  background-color: #212121;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

#hubs-list {
  margin-top: 8px;
  width: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
}
#hubs-list::-webkit-scrollbar {
  width: 10px;
}
#hubs-list::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58);
  border-radius: 12px;
  /* width:3px */
}
#hubs-list::-webkit-scrollbar {
  background: transparent;
  border-radius: '12px';
}

.hub {
  background: rgb(58, 58, 58);
  border-radius: 8px;
  /* border: 1px solid rgb(209, 209, 209); */
  padding: 12px;
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  width: 455px;
  transition: all 0.15s ease-in-out;
}

#join-board {
  height: 160px;
  width: 500px;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: left;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  max-height: 80vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  border: none;
  border-radius: 0.325rem;
  font-size: 18px;
  cursor: pointer;
}

.add-hub-button {
  background: rgb(75, 129, 95);
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  height: 28px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  scale: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.add-hub-button:hover {
  background: rgb(144, 207, 150);
  scale: 1;
  transition: all ease-in-out 0.15s;
}

.refresh-hub-button {
  background: rgb(75, 129, 95);
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
  height: 28px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  scale: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.refresh-hub-button:hover {
  background: rgb(144, 207, 150);
  scale: 1;
  transition: all ease-in-out 0.15s;
}

input[type='text'],
select {
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  width: 600px;
  margin-top: 24px;
}

input[type='url'],
textarea {
  background: white;
}

input[type='url'],
textarea:focus {
  outline-color: #3cac66;
}

input[type='submit'] {
  width: 100%;
  background: rgb(75, 129, 95);
  color: white;
  padding: 8px;
  font-size: 18px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1);
  transition: all ease-in-out 0.15s;
  font-weight: bold;
}

#input-join-board {
  width: calc(100% - 20px);
  height: 32px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  margin-top: 12px;
}

#submit-join-board {
  width: calc(100% - 20px);
}

#add-hub {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 110vh;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

#add-hub-dialog {
  width: 600px;
  height: 170px;
  border-radius: 12px;
  z-index: 101;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 300px);
  background: #4e4e4e;
  display: 'flex';
  flex-direction: 'column';
  padding: 18px;
}
#add-hub-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 100;
}

/* Animation shake */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
