ipython~=8.5.0
jupyter_client
#python-socketio
requests~=2.28.1
websockets~=10.3
#websocket-client
httpx~=0.23.0
pydantic~=1.10.2
pandas
Flask[async]~=2.2.2
redis
pytest
# pillow
# pyexiftool
# fluent-logger
funcx~=1.0.3
ws4py # we're only using this for the convenience of WebSocketBaseClient