ipython~=8.5.0
jupyter_client
#python-socketio
requests~=2.28.1
websockets~=10.3
#websocket-client
httpx~=0.23.0
pydantic~=1.10.2
pandas
Flask[async]~=2.2.2
redis~=3.5.3
# matplotlib

# pillow
# pyexiftool
# fluent-logger

funcx~=1.0.3
# from funcx.sdk.client import FuncXClient
# fxc = FuncXClient()
