rejson
pytest
fluent
fluent-logger
requests
ipython
namesgenerator
python-magic
rq
dill
websockets
redis
asyncio
aioredis
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability