SAGE3_SERVER=
TOKEN=
NODE_ENV=production
CHROMA_SERVER_AUTHN_CREDENTIALS='admin:$2y$05$wGPLsb5jjBXItIZBRSqoguNJAb1wWxTba4bL20PcyRG5.iPG6/zm6'
CHROMA_CLIENT_AUTH_CREDENTIALS=admin:sage123
NODE_SERVER_REPLICAS=2
NODE_FILE_SERVER_REPLICAS=2
