configurations/mongo/data
configurations/redis/data
configurations/jupyter/conf/info.json
configurations/node/keys/*.crt
configurations/node/keys/*.key
configurations/node/keys/*.pem

configurations/jupyter/conf/keys/*.crt
configurations/jupyter/conf/keys/*.key

foresight/ai_services
foresight/media_server
foresight/message_broker
foresight/smartbits
foresight/task_queue

configurations/fluentd/log/*.log
configurations/fluentd/log/data.*

configurations/chroma/data/chroma.sqlite3

.ipynb_checkpoints
