configurations/mongo/data
configurations/redis/data
configurations/chroma/data
configurations/jupyter/conf/info.json
configurations/node/keys/*.crt
configurations/node/keys/*.key
configurations/node/keys/*.pem

configurations/jupyter/conf/keys/*.crt
configurations/jupyter/conf/keys/*.key

pysage3/ai_services
pysage3/media_server
pysage3/message_broker
pysage3/smartbits
pysage3/task_queue

configurations/fluentd/log/*.log
configurations/fluentd/log/data.*

configurations/chroma/data/chroma.sqlite3

.ipynb_checkpoints
