
services:
  redis-server:
    image: "redis/redis-stack-server:latest"
    volumes:
      - ./configurations/redis/data:/data
      - ./configurations/redis/conf:/conf
    ports:
      - "127.0.0.1:6379:6379"
    entrypoint: redis-server
    command: /conf/redis.conf
  fluentd-server:
    image: "fluent/fluentd:edge-debian"
    ports:
      - "127.0.0.1:24224:24224"
    volumes:
      - ./configurations/fluentd/log:/fluentd/log
      - ./configurations/fluentd/conf:/fluentd/etc
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
  kernelserver:
    image: "ghcr.io/sage-3/sagekernelserver:arm64"
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - ENVIRONMENT=development
      - SAGE3_SERVER=${SAGE3_SERVER}
      - TOKEN=${TOKEN}
    restart: always
    working_dir: /app
    command: python src/main.py --url http://jupyter:8888/jupyter
    depends_on:
      jupyter:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/heartbeat"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    deploy:
      restart_policy:
        condition: on-failure
  # seer:
  #   image: "ghcr.io/sage-3/seer:dev_arm64"
  #   ports:
  #     - "127.0.0.1:9999:9999"
  #   environment:
  #     - ENVIRONMENT=development
  #     - SAGE3_SERVER=${SAGE3_SERVER}
  #     - TOKEN=${TOKEN}
  #   restart: always
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:9999/healthz"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 10s
  #   deploy:
  #     restart_policy:
  #       condition: on-failure
  jupyter:
    image: "quay.io/jupyter/datascience-notebook:2024-05-27"
    volumes:
      - ./configurations/jupyter/conf:/conf
      - ./configurations/jupyter/notebooks:/home/jovyan/notebooks
      - ./redis-client:/home/jovyan/work
    ports:
      - "8888:8888"
    environment:
      - ENVIRONMENT=development
      - SAGE3_SERVER=${SAGE3_SERVER}
      - TOKEN=${TOKEN}
    depends_on:
      - "redis-server"
    command: /conf/start.sh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/jupyter"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 30s
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./configurations/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./configurations/nginx/keys:/etc/ssl/
