
# SAGE3
git+https://github.com/SAGE-3/next.git@dev-langchain-deploy#subdirectory=foresight
python-dotenv

# Web API
fastapi==0.111.0
fastapi-cli
uvicorn

# data models
pydantic>=2.0.0

# AI with langchain
langchain
langchain-openai
langchain_community
langchain-huggingface
