.adminTable table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.adminTable tbody td:hover {
  background-color: unset;
}
.adminTable td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.adminTable tr:nth-child(even) {
  background-color: #999999;
}
