name: Client Windows

on:
  push:
    paths:
      - "webstack/clients/electron/**"
      - ".github/workflows/**"
    branches:
      - dev

env:
  SERVER: production

jobs:
  run:
    runs-on: windows-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Setup node
      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      # Install SAGE3 node dependencies
      - name: Installing SAGE3 Dependencies
        run: yarn install --frozen-lockfile --silent
        shell: bash
        working-directory: webstack/clients/electron

      # Build the electron application
      - name: Building SAGE3 Electron Application
        run: npx electron-packager . --platform=win32 --arch=x64 --icon=s3.ico --overwrite --appCopyright="SAGE3 Team"
        shell: bash
        working-directory: webstack/clients/electron

      # Build the windows installer
      - name: Building Windows Installer
        run: node build_win.js
        shell: bash
        working-directory: webstack/clients/electron

      # Upload the installer artifact
      - uses: actions/upload-artifact@v4
        with:
          name: SAGE3-installer-win64.exe
          path: webstack/clients/electron/windows-installer/SAGE3-Installer.exe
