name: Tag release windows

on:
  push:
    branches:
      - dev
    tags:
      - "*"

env:
  SERVER: production

defaults:
  run:
    shell: bash
    working-directory: webstack/clients/electron

jobs:
  run:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install
        run: yarn install --frozen-lockfile --silent
      - name: Build1
        run: npx electron-packager . --platform=win32 --arch=x64 --icon=s3.ico --overwrite --appCopyright="SAGE3 Team"
      - name: Build3
        run: node build_win.js
      - name: Rename
        run: mv windows-installer/SAGE3-Installer.exe auto-update-sage3-win32-x64.exe
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: webstack/clients/electron/auto-update-sage3-win32-x64.exe
